{% extends "account/base.html" %} {% load i18n %} {% load account %} {% block
head_title %}{% trans "Resetar senha" %}{% endblock %} {% block content %}

<h1>{% trans "Resetar senha" %}</h1>
{% if user.is_authenticated %} {% include
"account/snippets/already_logged_in.html" %} {% endif %}

<p>
  {% trans "Esqueceu sua senha? Digite seu endereço de e-mail abaixo e nós lhe
  enviaremos um e-mail permitindo que você o redefina." %}
</p>

<form
  method="POST"
  action="{% url 'account_reset_password' %}"
  class="password_reset"
>
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="{% trans 'Resetar minha senha' %}" />
</form>

<p>
  {% blocktrans %}Entre em contato conosco se tiver algum problema para
  redefinir sua senha.{% endblocktrans %}
</p>
{% endblock %}
